{% extends 'app/base.html' %}
{% block main-content %}
 

<div class="container my-5">
  <center>
    <h1>Dashboard</h1>
  </center>
  <br><br>
  <div class="row">
    <div class="col-md 8"></div>
    <div class="col-md-4 text-center">
      <a href="{% url 'bidform' %}" role="button" class="btn btn-primary">Create Product</a>
    </div>
  </div>
  <br><br>
  <div class="row">
    {% for pro in product %}
    <div class="col-md-4">
      <div class="card h-100" style="width: 18rem;">
        <img src="{{ pro.photo.url }}" width="100%" height="250vh" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{pro.name}}</h5>
          <p class="card-text">{{pro.description}}
          </p>
          <a href="{% url 'product-detail' pro.id %}" class="btn btn-primary">See Details</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock main-content %}