{% extends 'app/base.html' %}
{% load static %}

{% block main-content %}

<div class="container">
  <h2>Product of {{request.user.username}}</h2>

  {% if customer.user.id == request.user.id %}

  <div class="row">
    {% for pro in product %}
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="{{ pro.photo.url }}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{pro.name}}</h5>
          <p class="card-text">{{pro.description}}
          </p>
          <a href="{% url 'product-detail' pro.id %}" class="btn btn-primary">See Details</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endif %}
</div>


{% endblock main-content %}